{{ if and (not .Params.disable_comments) (or (eq .Kind "404") (and (not .IsHome) .Content)) }}

<section class="comments">
<center>{{ default "View Comments" .Site.Params.text.comment }}</center>
</section>

<section class="fullwidth comments">
<script src="https://giscus.app/client.js"
        data-repo="dvesti/mag"
        data-repo-id="R_kgDOM4OUeQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOM4OUec4CjtUe"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ru"
        crossorigin="anonymous"
        async>
</script>
</section>
{{ end }}