<link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">


<!-- mojo -->

{{ $autoImage := false }}
    {{ range (findRE "<img src=\"https?://[^\"]+" .Content 1) }}
    {{ $autoImage = true }}
    <meta name="twitter:image" content="{{ replaceRE "<img src=\"" "" . | htmlUnescape }}">
    {{ end }}


<!-- /mojo -->
<!--
    {{ if eq .RelPermalink "/" }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>

    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    {{ end }}
    <meta name="twitter:card" content="summary">
    {{ if eq .RelPermalink "/" }}
    <meta property="description" content="{{ .Site.Params.description }}">
    {{ else }}
      {{ with (trim (partial "summary.html" .) "\n ") }}
      <meta property="description" content="{{- . -}}">
      <meta property="og:description" content="{{- . -}}">
      {{ end }}
    {{ end }}

    {{ $autoImage := false }}
    {{ range (findRE "<img src=\"https?://[^\"]+" .Content 1) }}
    {{ $autoImage = true }}
    <meta name="twitter:image" content="{{ replaceRE "<img src=\"" "" . | htmlUnescape }}">
    {{ end }}
    {{ with .Site.Params.twitterImage }}
    {{ if not $autoImage }}
    <meta name="twitter:image" content="{{ absURL . }}">
    {{ end }}
    {{ end }}

    {{ if .Keywords }}
    <meta property="keywords" content ="{{ delimit .Keywords ", " }}">
    {{ end }}
-->